<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="baidu-site-verification" content="code-CVbavcK8gI" />
    <title>前沿医学-资讯详情</title>
    <link rel="stylesheet" href="../css/vant@2.21_index.css"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../element/element-ui-2.14.1.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div id="myApp" class="main" v-cloak>
        <navbar v-model="showLeft"></navbar>
        <van-popup v-model="showLeft" position="left" :style="{ width: '70%' }">
            <menuleft></menuleft>
        </van-popup>
        <div class="contentBody">
            <template v-if="activeIndex==='1'">
                <companyinfo :data="companyData"></companyinfo>
                <companylicense :data="companyData"></companylicense>
                <companyside></companyside>
            </template>
            <template v-else>
                <companymedicinelist :data="companyData"></companymedicinelist>
            </template>
        </div>
    </div>
</body>
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script> 
<script src="https://api.map.baidu.com/api?v=2.0&ak=exKldCvfrnSWrSFw8l6GheAyPlkRwVph"></script>
<script src="../js/rem.js"></script>
<script src="../js/vue-2.6.11.js"></script>
<script src="../js/vant@2.12.min.js"></script>
<script src="../element/element-ui-2.14.1.js"></script>
<script src="../js/axios.min-0.21.0.js"></script>
<script src="../js/request.js"></script>
<script src="../js/unit.js"></script>
<script src="../components/menuleft.js"></script>
<script src="../components/navbar.js"></script>
<script src="../components/menuleft.js"></script>
<script src="../components/navbar.js"></script>
<script src="../components/companyinfo.js"></script>
<script src="../components/companyinfo.js"></script>
<script src="../components/companymedicinelist.js"></script>
<script src="../components/companylicense.js"></script>
<script src="../components/breadcrumb.js"></script>
<script src="../components/companyside.js"></script>
<script>
    const myApp = new Vue({
        el: '#myApp',
        data() {
            return {
                showLeft: false,
                breadcrumblist:[
                    {name:'医药',link:'./companyHouse.html'},
                    {name:'产品库',link:'./companyHouse.html'},
                    {name:'化学药品',link:'./companyTypeDetail.html'},
                    {name:'地奥集团成都药业股份有限公司'},
                ],
                tabs: [
                    {name:'公司简介',id:'1'},
                    {name:'产品目录',id:'2'},
                    {name:'企业证照',id:'3'},
                ],
                activeIndex: 0,
                companyData: {},
            }
        },
        methods: {
            checkType(index) {
                if(!getUrlParam('tab') && getUrlParam('tab')!==0){
                    location.href += `&tab=${index}`
                }else{
                    location.href = location.href.replace(/tab=./,`tab=${index}`)
                }
                // location.href = `${getUrl()}?tab=${index}`
            },
            getCompanyDetail(){
                postCompanyDetail(getUrlParam('id')).then(res => {
                    this.companyData = res.data.data
                })
            }
        },
        mounted() {
            this.activeIndex = getUrlParam('tab') || 0
            this.breadcrumblist[2].name = decodeURI(getUrlParam('catalogName'))
            this.breadcrumblist[2].link += `?catalogName=${decodeURI(getUrlParam('catalogName'))}`
            this.breadcrumblist[3].name = decodeURI(getUrlParam('name'))
            if(getUrlParam('enter') === 'index'){
                this.breadcrumblist = [
                    {name:'首页',link:'./index.html'},
                    {name:decodeURI(getUrlParam('name'))},
                ]
            }
            this.getCompanyDetail()
        }
    })
</script>
</html>
<style>
</style>