<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="baidu-site-verification" content="code-CVbavcK8gI" />
    <title>企业维护中心-产品库</title>
    <link rel="stylesheet" href="../css/vant@2.21_index.css"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../element/element-ui-2.14.1.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div id="myApp" class="main" v-cloak>
        <navbar v-model="showLeft"></navbar>
        <van-popup v-model="showLeft" position="left" :style="{ width: '70%' }">
            <menuleft></menuleft>
        </van-popup>
        <div class="pageBody">
            <div class="centerInfoBox">
                <div class="formItem">
                    <div class="formLabel">联系人</div>
                    <div class="formValue">
                        <el-input v-model="form.contractStr"></el-input>
                    </div>
                </div>
                <div class="formItem">
                    <div class="formLabel">手机</div>
                    <div class="formValue">
                        <el-input v-model="form.mobileStr"></el-input>
                    </div>
                </div>
                <div class="formItem">
                    <div class="formLabel">咨询内容</div>
                    <div class="formValue">
                        <!-- <el-input v-model="form.contextStr"></el-input> -->
                        <div id="Edit"></div>
                    </div>
                </div>
                <div class="formItemHandleItem" @click="submit">完成</div>
            </div>
        </div>
    </div>
</body>
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script> 
<script src="https://api.map.baidu.com/api?v=2.0&ak=exKldCvfrnSWrSFw8l6GheAyPlkRwVph"></script>
<script src="../js/rem.js"></script>
<script src="../js/vue-2.6.11.js"></script>
<script src="../js/vant@2.12.min.js"></script>
<script src="../js/axios.min-0.21.0.js"></script>
<script src="../js/config.js"></script>
<script src="../js/request.js"></script>
<script src="../js/businessHandle.js"></script>
<script src="../js/wangEditor.min.js"></script>
<script src="../element/element-ui-2.14.1.js"></script>
<script src="../js/axios.min-0.21.0.js"></script>
<script src="../js/unit.js"></script>
<script src="../components/menuleft.js"></script>
<script src="../components/navbar.js"></script>
<script src="../js/businessHandle.js"></script>
<script src="../components/menuleft.js"></script>
<script src="../components/navbar.js"></script>
<script src="../components/userCenter/sidenav.js"></script>
<script src="../components/selectaddress.js"></script>
<script>
    const myApp = new Vue({
        el: '#myApp',
        data() {
            return {
                showLeft: false,
                form:{
                    bId: '',
                    contextStr: '',
                    contractStr: '',
                    mobileStr: '',
                    userType: '',
                },
                EditObj:null
            }
        },
        watch:{
            
        },
        mounted() {
            this.form.bId = getUrlParam('id')
            this.form.userType = getUrlParam('type')
            this.$nextTick(() => {
                this.EditObj = initWangEdit('Edit')
            })
        },
        methods: {
            submit(){
                this.form.contextStr = this.EditObj.txt.html()
                if(this.form.contractStr && this.form.mobileStr && this.form.contextStr){
                    postAddConsult(this.form).then(res => {
                        if(res.data.code === 0){
                            this.$message.success('提交成功')
                            setTimeout(() => {
                                history.back()
                            },1000)
                        }else{
                            this.$message.error(res.data.msg)
                        }
                    })
                }else{
                    this.$message.warning('信息填写不完整')
                }
            }
        }
    })
</script>
</html>
<style>
.pageBody{
    display: block;
}
</style>