<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="baidu-site-verification" content="code-CVbavcK8gI" />
    <title>前沿医学</title>
    <link rel="stylesheet" href="../css/vant@2.21_index.css"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../element/element-ui-2.14.1.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/assessDrugIndex.css">
</head>
<body>
    <div id="myApp" class="main" v-cloak>
        <navbar v-model="showLeft"></navbar>
        <van-popup v-model="showLeft" position="left" :style="{ width: '70%' }">
            <menuleft></menuleft>
        </van-popup>
        <div class="contentBody">
            <van-dropdown-menu class="fixed">
                <van-dropdown-item title="分类" ref="dropdown">
                    <div class="pageTypeBox">
                        <div class="pageTypeItemBox">
                            <div
                                :class="{'active':index === activeTypeIndex}"
                                class="pageTypeItem"
                                @click="checkType2(index)"
                                v-for="(item,index) in type"
                                :key="index"
                            >{{item.name}}</div>
                        </div>
                    </div>
                </van-dropdown-item>
            </van-dropdown-menu>
            <healthylist :list="healthylist" style="padding-top: 5rem;"></healthylist>
            <recomdoctor></recomdoctor>
        </div>
    </div>
</body>
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script> 
<script src="https://api.map.baidu.com/api?v=2.0&ak=exKldCvfrnSWrSFw8l6GheAyPlkRwVph"></script>
<script src="../js/rem.js"></script>
<script src="../js/vue-2.6.11.js"></script>
<script src="../js/vant@2.12.min.js"></script>
<script src="../element/element-ui-2.14.1.js"></script>
<script src="../js/axios.min-0.21.0.js"></script>
<script src="../js/request.js"></script>
<script src="../js/unit.js"></script>
<script src="../js/businessHandle.js"></script>
<script src="../components/menuleft.js"></script>
<script src="../components/navbar.js"></script>
<script src="../components/breadcrumb.js"></script>
<script src="../components/index/healthylist.js"></script>
<script src="../components/index/hothospital.js"></script>
<script src="../components/index/recomdoctor.js"></script>
<script>
    const myApp = new Vue({
        el: '#myApp',
        data() {
            return {
                showLeft: false,
                breadcrumblist:[
                    {name:'资讯',link:'./messageIndex.html'},
                    // {name:'新闻中心',link:'./messageNews.html'},
                    {name:'健康生活'},
                ],
                activeIndex: 0,
                type:[
                    // {name:'生活相关',id:'1'},
                    // {name:'秋季防感冒',id:'1'},
                    // {name:'流感大作战',id:'1'},
                    // {name:'HIV预防',id:'1'}
                ],
                activeTypeIndex: 0,
                healthylist:[]
            }
        },
        mounted(){
            this.getHealthyType()
        },
        methods:{
            checkType(index){
                this.activeIndex = index
            },
            checkType2(index){
                this.activeTypeIndex = index
                this.$refs.dropdown.toggle();
                this.getHealthylist()
            },
            getHealthyType(){
                postModelListByName('健康生活').then(res => {
                    if(res.data && res.data.msg === "success"){
                        res.data.data.map(item => {
                            this.type.push({
                                name:item.catalogName,
                                id: item.catalogId
                            })
                        })
                        this.getHealthylist()
                    }
                })
            },
            getHealthylist(){
                const param = {
                    catalogId: this.type[this.activeTypeIndex].id,
                    catalogName: this.type[this.activeTypeIndex].name
                }
                this.healthylist = []
                postTitleListByCatalogId(param).then(res => {
                    if(res.data && res.data.msg === "success"){
                        this.healthylist = res.data.data
                    }
                })
            }
        }
    })
</script>
</html>
<style>
    /* .van-popup{
        height: auto;
    } */
    .contentType{
        margin-bottom: 5rem;
    }
</style>