<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="baidu-site-verification" content="code-CVbavcK8gI" />
    <title>搜索</title>
    <link rel="stylesheet" href="../css/vant@2.21_index.css"/>
    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../element/element-ui-2.14.1.css">
    <link rel="stylesheet" href="../css/common.css">
</head>
<body>
    <div id="myApp" class="main" v-cloak>
        <form action="/">
            <van-search
              v-model="keyword"
              show-action
              placeholder="请输入搜索关键词"
              @search="searchFunc"
              @cancel="onCancel"
            />
                <template #action>
                    <span @click="onCancel">取消</span>
                    <span style="margin-left: 1rem;" @click="searchFunc">搜索</span>
                </template>
            </van-search>
        </form>
        <van-dropdown-menu>
            <van-dropdown-item v-model="checkedType" :options="typeGroup" @change="searchFunc" />
            <!-- <van-dropdown-item :title="item.label" ref="dropdown">
                <div  v-for="(item,index) in typeGroup" :key="index"></div>
                <div class="pageTypeBox">
                    <div class="pageTypeItemBox">
                        <div
                            :class="{'active':checkedType===item}"
                            class="pageTypeItem"
                            @click="activeParam(item)"
                        >{{item}}</div>
                    </div>
                </div>
            </van-dropdown-item> -->
        </van-dropdown-menu>
        <div class="searchPageBody">
            <div class="searchResultBox" v-if="!loading">
                <div class="searchResultTop">
                    <div class="searchResultLabel">搜索结果：</div>
                    <div class="searchResultNumBox">搜到 <span class="searchResultNum">{{resultList.length}}</span> 条结果</div>
                </div>
                <div class="searchResultCont">
                    <div class="searchResultItem" v-for="(item,index) in resultList" :key="index">
                        <template v-if="item._type==='医生'">
                            <div class="doctorItem" @click="toDoctorHouseDetail(item)">
                                <div class="doctorImg"><img :src="item.pictureStr|imgStr" /></div>
                                <div class="doctorInfo">
                                    <div class="doctorName">
                                        <div class="doctorNameText">{{item.doctorName}}</div>
                                        <div class="doctorType">{{item.positionStr}}</div>
                                    </div>
                                    <div class="doctorHospital">
                                        <div class="doctorhospitalText">{{item.hospitalName}}</div>
                                        <div class="doctorDept">{{item.officeStr}}</div>
                                    </div>
                                    <div class="doctorRemark" :title="item.goodStr">{{item.goodStr}}</div>
                                </div>
                            </div>
                        </template>
                        <template v-else-if="item._type==='医院'">
                            <div class="hospitalItem" @click="toHospitalHouseDetail(item)">
                                <div class="hospitalImg"><img :src="item.pictureStr|imgStr" /></div>
                                <div class="hospitalInfo">
                                    <div class="hospitalName">
                                        <div class="hospitalNameText">{{item.hospitalName}}</div>
                                        <div class="hospitalType">{{item.gradeStr}}</div>
                                    </div>
                                    <div class="hospitalTel">电话：{{item.telStr}}</div>
                                    <div class="hospitalAddress">地址：{{item.addressStr}}</div>
                                </div>
                            </div>
                        </template>
                        <template v-else-if="item._type==='产品'">
                            <div class="medicineItem" @click="toMedicineDetail(item)">
                                <div class="medicineImg">
                                    <img :src="item.pictureStr|imgStr" />
                                </div>
                                <div class="medicineInfo">
                                    <div class="medicineName" :title="item.productName">
                                        <div class="medicineNameText" :title="item.productName">{{item.productName}}</div>
                                        <!-- <div class="medicineAskBar">询问</div> -->
                                    </div>
                                    <div class="medicineMsg">
                                        <div class="medicinemItem">批准文号：{{item.approvalNumber}}</div>
                                        <div class="medicinemItem">主要规格：{{item.packStr}}{{item.spectStr}}</div>
                                    </div>
                                    <div class="medicineCompany">
                                        <div class="medicineCompanyName">公司名称：{{item.enterpriseName}}</div>
                                        <!-- <div class="companyList">查看产品列表</div> -->
                                    </div>
                                </div>
                            </div>
                        </template>
                        <template v-else-if="item._type==='资讯'">
                            <div class="messageItem" @click="toMessageDetail(item)">
                                <div class="messageTitle">{{item.titileStr}}</div>
                                <div class="messageTime">{{item.updateTime}}</div>
                            </div>
                        </template>
                    </div>
                </div>
                <!-- <div class="paginationBox">
                    <el-pagination
                        @size-change="handleSizeChange"
                        @current-change="handleCurrentChange"
                        :current-page="pageNum"
                        :page-sizes="[10, 20, 30, 50]"
                        :page-size="pageSize"
                        layout="total, sizes, prev, pager, next"
                        :total="total">
                    </el-pagination>
                </div> -->
            </div>
            <div v-else v-loading="loading" class="searchResultBox"></div>
        </div>
        <pagefooter></pagefooter>
    </div>
</body>
<script src="https://libs.baidu.com/jquery/1.9.1/jquery.min.js"></script> 
<script src="https://api.map.baidu.com/api?v=2.0&ak=exKldCvfrnSWrSFw8l6GheAyPlkRwVph"></script>
<script type="text/javascript">window._AMapSecurityConfig = {securityJsCode:'3853bfea587b3d443e7702ca814629b2'}</script>
<script type="text/javascript" src="https://webapi.amap.com/maps?v=1.4.15&key=294066af9c9fd556780e95b485cf9e5f"></script>
<script src="../js/rem.js"></script>
<script src="../js/vue-2.6.11.js"></script>
<script src="../js/vant@2.12.min.js"></script>
<script src="../js/axios.min-0.21.0.js"></script>
<script src="../js/config.js"></script>
<script src="../js/request.js"></script>
<script src="../js/businessHandle.js"></script>
<script src="../js/wangEditor.min.js"></script>
<script src="../element/element-ui-2.14.1.js"></script>
<script src="../js/axios.min-0.21.0.js"></script>
<script src="../js/unit.js"></script>
<script src="../js/businessHandle.js"></script>
<script src="../components/navmenu.js"></script>
<script src="../components/userCenter/sidenav.js"></script>
<script>
    const myApp = new Vue({
        el: '#myApp',
        data() {
            return {
                showLeft: false,
                loading: false,
                keyword:'',
                resultList: [
                    // {img:'、、、',title:'Cell Metabolism：线粒体中AKG可逆转衰',remark:'阿司匹林对于伴有小UIA和ICD的患者是一种安全的治疗方法。高危组中未服用阿司匹林的患者应进行加强监护。阿司匹林对于伴有小UIA和ICD的患者是一种安全的治疗方法。高危组中未服用阿司匹林的患者应进行加强监护。'},
                    // {img:'',title:'Cell Metabolism：线粒体中AKG可逆转衰',remark:'阿司匹林对于伴有小UIA和ICD的患者是一种安全的治疗方法。高危组中未服用阿司匹林的患者应进行加强监护。'},
                    // {img:'、、、',title:'Cell Metabolism：线粒体中AKG可逆转衰',remark:'阿司匹林对于伴有小UIA和ICD的患者是一种安全的治疗方法。高危组中未服用阿司匹林的患者应进行加强监护。'},
                    // {img:'',title:'Cell Metabolism：线粒体中AKG可逆转衰',remark:'阿司匹林对于伴有小UIA和ICD的患者是一种安全的治疗方法。高危组中未服用阿司匹林的患者应进行加强监护。'},
                    // {img:'',title:'Cell Metabolism：线粒体中AKG可逆转衰',remark:'阿司匹林对于伴有小UIA和ICD的患者是一种安全的治疗方法。高危组中未服用阿司匹林的患者应进行加强监护。'},
                    // {img:'',title:'Cell Metabolism：线粒体中AKG可逆转衰',remark:'阿司匹林对于伴有小UIA和ICD的患者是一种安全的治疗方法。高危组中未服用阿司匹林的患者应进行加强监护。'},
                ],
                hotword: ['心血管','心血管','心血管','心血管','心血管','心血管','心血管','心血管','心血管'],
                pageNum: 1,
                pageSize: 1,
                total: 0,
                checkedType: '医生',
                typeGroup: [
                    { text: '医生', value: '医生' },
                    { text: '医院', value: '医院' },
                    { text: '产品', value: '产品' },
                    { text: '资讯', value: '资讯' },
                ]
            }
        },
        filters: {
            imgStr(link) {
                return baseUrl + link;
            }
        },
        mounted() {
            
        },
        methods: {
            activeParam(type){
                this.checkedType = type
                this.searchFunc()
            },
            // 返回
            onCancel() {
                window.history.go(-1)
            },
            toDoctorHouseDetail(data){
                location.href = `./doctorHouseDetail.html?id=${data.doctorId}`
            },
            toHospitalHouseDetail(data){
                location.href = `./hospitalHouseDetail.html?hospitalId=${data.hospitalId}`
            },
            toMedicineDetail(data){
                location.href = `./medicineDetail.html?id=${data.productId}&name=${data.productName}&catalogName=${decodeURI(getUrlParam('catalogName'))}`
            },
            toMessageDetail(data){
                location.href = `./newsMessageDetail.html?titleId=${data.titleId}`
            },
            searchFunc(){
                if(!this.keyword) return
                this.loading = true
                const keyword = this.keyword
                const promiseArr = []
                if(this.checkedType === '医生'){
                    let p1 = new Promise((resolve, reject) => {
                        postSearchRDoctor(keyword).then(res => {
                            resolve(res)
                        })
                    })
                    promiseArr.push(p1)
                }
                if(this.checkedType === '医院'){
                    let p2 = new Promise((resolve, reject) => {
                        postSearchRHospital(keyword).then(res => {
                            resolve(res)
                        })
                    })
                    promiseArr.push(p2)
                }
                if(this.checkedType === '产品'){
                    let p3 = new Promise((resolve, reject) => {
                        postSearchRProduct(keyword).then(res => {
                            resolve(res)
                        })
                    })
                    promiseArr.push(p3)
                }
                if(this.checkedType === '资讯'){
                    let p4 = new Promise((resolve, reject) => {
                        postSearchRTitle(keyword).then(res => {
                            resolve(res)
                        })
                    })
                    promiseArr.push(p4)
                }
                Promise.allSettled(promiseArr).then((result) => {
                    let list = []
                    result.forEach((res,index) => {
                        if(res.value.data.data){
                            res.value.data.data.forEach(item => {
                                let tableItem = item
                                if(this.checkedType === '医生'){
                                    // 医生
                                    tableItem._name = item.doctorName
                                    tableItem._id = item.doctorId
                                    tableItem._type = '医生'
                                    tableItem._img = item.pictureStr
                                    tableItem._remark = item.pictureStr
                                }else if(this.checkedType === '医院'){
                                    // 医院
                                    tableItem._name = item.hospitalName
                                    tableItem._id = item.hospitalId
                                    tableItem._type = '医院'
                                    tableItem._img = item.pictureStr
                                }else if(this.checkedType === '产品'){
                                    // 产品
                                    tableItem._name = item.productName
                                    tableItem._id = item.productId
                                    tableItem._type = '产品'
                                    tableItem._img = item.pictureStr
                                }else if(this.checkedType === '资讯'){
                                    // 资讯
                                    tableItem._name = item.titileStr
                                    tableItem._id = item.titleId
                                    tableItem._type = '资讯'
                                    tableItem._img = item.contextImg
                                }
                                list.push(tableItem)
                            })
                        }
                    })
                    this.resultList = list
                    this.loading = false
                }).catch((error) => {
                    console.log(error)
                })
            },
            handleSizeChange(val){
                this.pageSize = val;
            },
            handleCurrentChange(val){
                this.pageNum = val;
            },
        }
    })
</script>
</html>
<style>
.van-popup{
    height: auto;
}
</style>